{
    "timeInterval": "month",
    "endDate": "2018-01",
    "outputPath": "./index.txt",
    "outputDelay": 5000,
    "coinApiKey": "xxxx",
    "shapeShiftApiKey": "xxxx",
    "libertyXApiKey": "xxx",
    "foxCredentials": {
      "apiKey": "xxxx",
      "secretToken": "xxxx"
    }
}
